body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abril Fatface", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  background: linear-gradient(
    rgba(0, 165, 0, 1) 50%,
    rgba(0, 153, 0, 1),
    rgba(0, 102, 0, 1)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header */
.header_wrapper {
  display: flex;
}

.header_title {
  margin: auto;
  justify-content: center;
}

.header_font {
  color: rgb(255, 235, 0);
  text-shadow: -1px 1px 0 #000;
  letter-spacing: 3px;
  font-size: 48px;
  font-family: "Abril Fatface", cursive;
}

/* Cards

*/
.dealer_hand,
.player_hand {
  display: flex;
  justify-content: center;
  margin-left: -100px;
}

.card_wrapper0,
.card_wrapper1,
.card_wrapper2,
.card_wrapper3,
.card_wrapper4 {
  margin-left: -50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(20deg);
  /* perspective: 500px; */
}

.card_body {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 160px;
  border: 2px solid;
  border-radius: 15px;
  background-color: #fff;
  /* transition: transform 400ms;
  will-change: transform; */
}

.card_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* .card_body:hover .card_detail,
.card_body:focus .card_detail {
  transform: rotateY(180deg);
} */

.red {
  color: red;
}

.card_top {
  align-self: flex-start;
  margin: 0;
}

.card_bottom {
  align-self: flex-end;
  margin: 0;
}

/* Buttons */
.control_buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  padding-top: 32px;
}
.button {
  margin: 4px 2px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 120px;
  font-size: 16px;
  border: 2px solid;
  border-radius: 50px;
  background-color: red;
  opacity: 0.9;
  transition: 0.2s;
}

.button:hover {
  opacity: 1;
}

.restart {
  display: none;
}

/* Score Card */
.score_blocks {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 0;
  top: 100px;
  margin-right: 148px;
  gap: 150px;
}

.score {
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 12px;
  border: 2px solid;
  border-radius: 50px;
  background-color: #fff;
}

/* Outcomes */
.outcomes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  margin: auto;
  position: absolute;
  left: auto;
  right: auto;
  z-index: 2;
}

.win {
  font-size: 48px;
  color: rgb(255, 235, 0);
}

.bust {
  font-size: 48px;
  color: rgba(0, 102, 0, 1);
}

.player_wins,
.dealer_wins,
.player_bust,
.dealer_bust,
.push {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .header_font {
    font-size: 32px;
  }

  .dealer_hand,
  .player_hand {
    padding-left: 24px;
  }

  .card_body {
    width: 80px;
    height: 130px;
  }

  .card_detail h1 {
    font-size: 18px;
  }

  .score_blocks {
    margin-right: 0;
    margin-top: 50px;
    padding-right: 24px;
  }

  .control_buttons {
    margin-right: 0;
    margin-top: 50px;
    gap: 0;
  }

  .button,
  .score {
    font-size: 10px;
    padding: 5px;
    border-radius: 50px;
  }
}
